body{
    /* background-color: rgb(225, 255, 245); */
background-image: url(assets/images.jpg);
background-attachment: fixed;
background-size: cover;
background-position: center;
}

h1 {
    text-align: center;
    color: green;
    font-size: 40px;
    font-family: gigi;
}
p { 
  text-align: justify;
  color: rgb(50, 15, 4);
  font-size: 20px;
}

button {
    display: block;
    margin: 30px auto;
    background-color: rgb(85, 167, 89);
    border-radius: 10px;
}

a{
    display: block;
    color: brown;
    text-decoration: none;
    margin: 5px;

}

